.about-us {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #fff;
  }
  
  h2 {
    color: #524885;
    border-bottom: 2px solid #524885;
    padding-bottom: 10px;
  }
  
  .introduction, .services, .vision, .campuses, .affiliation, .support, .contact {
    margin-bottom: 20px;
  }
  
  .services ul, .services li ul {
    list-style-type: none;
    padding: 0;
  }
  
  .services li {
    margin-bottom: 10px;
  }
  
  .services li strong {
    color: #38989e;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #49779a;
    color: white;
  }
  