@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 1000;
}

.navbar {
  height: 80px;
  background-color: #35586e; /* Navbar background color */
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.logo img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 60px; /* Adjust as needed */
  margin-right:30px ;
}

.menu-icon {
  display: none;
}

.nav-elements {
  flex: 1;
  transition: opacity 0.3s ease; /* Smooth transition for menu visibility */
}

.nav-elements ul {

  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0px;
}

.nav-elements ul li {
  margin: 5px 30px 0px 0px;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for list items */
}

.nav-elements ul li:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

.nav-elements ul a {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: 500;
  color: #FFF5EB; /* Text color */
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease;
  position: relative;
}

.nav-elements ul a:hover,
.nav-elements ul a.active {
  color: #FFDD73; /* Hover and active color */
  font-weight: 400;
}

.nav-elements ul a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust based on your font size */
  width: 0;
  height: 2px; /* Thickness of the underline */
  background: #FFDD73; /* Underline color */
  transition: width 0.3s ease;
}

.nav-elements ul a:hover::after,
.nav-elements ul a.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-elements ul {
    justify-content: center; /* Center align menu items on medium screens */
  }

  .nav-elements ul li {
    margin: 10px 0; /* Adjust spacing for smaller screens */
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for menu icon */
  }

  .nav-elements {
    position: fixed; /* Fixed positioning for mobile menu */
    right: 0;
    top: 60px;
    background-color:  #35586e; /* Background color for mobile menu */
    width: 0;
    height: calc(100vh - 60px);
    transition: width 0.3s ease-in-out, opacity 0.3s ease; /* Smooth transition for menu width and opacity */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    opacity: 0; /* Initially hidden */
    z-index: 999; /* Ensure menu is above other content */
  }

  .nav-elements.active {
    width: 270px; /* Adjust the width of the mobile menu */
    padding: 45px;
    opacity: 1; /* Show menu */
  }

  .nav-elements ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-elements ul li {
    margin: 10px 0; /* Adjust spacing for mobile items */
    margin-right: 0; /* Remove margin for mobile */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for list items */
  }

  .nav-elements.active ul li {
    opacity: 1; /* Fade in list items */
  }
}

.hamburger-icon {
  width: 34px; /* Adjust size as needed */
  height: 34px; /* Adjust size as needed */
  transition: transform 0.3s ease; /* Smooth transition for hamburger icon */
}
